# Port server (default: 3001)
PORT=3001

# URL Frontend (untuk CORS) — pisahkan dengan koma jika lebih dari satu
ALLOWED_ORIGINS=http://localhost:3000

# Base URL eksternal
DEEZER_BASE_URL=https://api.deezer.com
LRCLIB_BASE_URL=https://lrclib.net/api

# Nama app (untuk User-Agent header ke LRCLIB)
APP_NAME=MusikApp/1.0
